#bodyblur{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;-webkit-backdrop-filter:blur(6px); backdrop-filter:blur(6px);}

@font-face{
	font-family: 'Alkatra';
	src: url('Alkatra-Bold.ttf');
	src: url('Alkatra-Bold.ttf') format('ttf');
	src: url('Alkatra-Bold.ttf') format('truetype');
}

body::before{content:"from n**o";font-family: 'Alkatra'; color:white;font-size:4vw;position:fixed;bottom:25px;left:25px;}

@keyframes kont{0%  {left:-2px; top:0;} 50% {left:2px; top:0px;} 100% {left:-2px; top:0px;}}
blockquote{animation-name:kont;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:.8;margin-left:50px;margin-right:50px; padding:30px 25px;}
blockquote{background:rgba(0, 0, 0, .45);color:#fefefe;font-size:16px;padding:30px 40px 30px 40px; border: .7px solid transparent;border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);border-image-slice: 3;}
#blockquote1{animation-name:kont;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:.8;margin-left:50px;margin-right:50px; padding:30px 25px;}
#blockquote1{background:black;color:#fefefe;font-size:16px;padding:30px 40px 30px 40px; border: .7px solid transparent;border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);border-image-slice: 3;}

#font1{
	font-family: 'WaitingfortheSunrise-Regular';
	src: url('WaitingfortheSunrise-Regular.ttf');
	src: url('WaitingfortheSunrise-Regular.ttf') format('ttf');
	src: url('WaitingfortheSunrise-Regular.ttf') format('truetype');
}

@charset "UTF-8";
/*!
* animate.css - https://animate.style/
* Version - 4.1.1
* Licensed under the Hippocratic License 2.1 - http://firstdonoharm.dev
*
* Copyright (c) 2022 Animate.css
*/
:root {
	--animate-delay: 1s;
}
.animate__delay-43s {
	-webkit-animation-delay: calc(1s * 43);
	animation-delay: calc(1s * 43);
	-webkit-animation-delay: calc(var(--animate-delay) * 43);
	animation-delay: calc(var(--animate-delay) * 43);
}
.animate__delay-45s {
	-webkit-animation-delay: calc(1s * 45);
	animation-delay: calc(1s * 45);
	-webkit-animation-delay: calc(var(--animate-delay) * 45);
	animation-delay: calc(var(--animate-delay) * 45);
}
.animate__repeat-4 {
	-webkit-animation-iteration-count: calc(1 * 4);
	animation-iteration-count: calc(1 * 4);
	-webkit-animation-iteration-count: calc(var(--animate-repeat) * 4);
	animation-iteration-count: calc(var(--animate-repeat) * 4);
}